.bbody{
    background-color: #E5E5E5;
    width:100%;
    height: 100%;
    overflow:scroll;
    position:absolute;
}
nav{
    background-color: #ffffff;
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
}
/* KOMPONEN NAVBAR */
.logoNav{
    width:6em;
    height:auto;
}
.searchbarContain{
    align-self: center;
    width:40%;
    margin: 0 15% 0 15%;
    background-color:#F5FBFF;
    align-items: center;
}
.searchbar{
    width: 90%;
    border-radius: 2px;
    border:none;
    height: 100%;
    
}
.searchbar:active{
    width: 90%;
    border-radius: 2px;
    border-color: #E5E5E5;
    height: 100%;
}
.searchIcon{
    width:1.2em;
    cursor: pointer;
}
.iconContainer{
    width:auto;

    /* position: absolute; */
}
.iconNav{
    width:2.2em;
    margin: 0 0 0 5px;
}

.mainProfile{
    background-color: white;
    width:80%;
    height: 60%;
    margin:1% 0 0 10%;
    position:relative;
}
.coverPic{
    background-color: transparent;
    width: 100%;
    height: 80%;
}
.profileInfo{
    background-color:white;
    height: 18%;
    margin: 1% 0 0 0;
    padding: 1 0 0 0 ;
    /* display:flex; */
    /* flex-direction: row; */
}
.username{
    margin: 0 0 0 50%;
}
.rate{
    margin: -1.4% 0 0 60%;
}
.btn{
    cursor: pointer;
    float: right;
    margin: -2% 5% 0 0;
    padding: 1%;
    background: #05B1A1;
        color: white;
        width: 9em;
        height: 2.5em;
        border-radius: 5px;
        text-align: center;
        font-size: 1em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn:hover{
    background-color: white;
    color: #05B1A1;
}
.btn:active{
    background: #05B1A1;
    color: white;
}
.container{
    background-color: transparent;
    width:80%;
    height: auto;
    margin: 2% 0 0 10%;
    display: flex;
    flex-direction: row;
}
.leftContainer{
    width:35%;
    background-color: transparent;
}

.poin{
    background-color: white;
    width:96%;
    height: 4em;
    /* margin: 2% 0 0 2%; */
    border-radius: 3;
    display: flex;
    flex-direction: row;
    padding :  4% 0 0 2%;
}
.medalIcon{
    width: 1.5em;
    height: 2em;
    margin:  0 5% 0 5%;
}
.poinText{
        width: 50%;
        font-size: 1.3em;
}
.total{
    font-family: 'Roboto';
        font-weight: 700;
        color: #05678E;
        text-align: center;
}
.jumlahPoin{
    color:#EA6C00;
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 0.8em;
        margin: 0 5% 0 10%;
}
.leftArrow{
    width: 1em;
        height: 1.4em;
        position: absolute;
        margin:  1% 0 0 23%;
        float:right;
        cursor: pointer;

}
.completeRate{
    background-color: white;
        width: 96%;
        height: auto;
        margin: 2% 0 0 0%;
        padding: 2% 1%;
}
.RateText{
    font-weight: 400;
    text-align: center;
    font-size: 0.8em;
    font-family: 'roboto';
    color: #1E1E1E;
    margin: 2% 0 ;
}
.disabledText {
    color: grey;
    margin: 1% 0;
}
.ProgressBar{
    border-color: #05B1A1;
    background-color:#E5E5E5;
    margin: 2% 0 0 0 ;
}
.menu{
    background-color: #05B1A1;
        border:10px;
        width: 96%;
        /* height: 18em; */
        margin: 2% 0% 0 0;
        padding: 2%;
        border-radius: 5px;
}
.menuItem{
    display: flex;
    flex-direction: row;
    background-color: white;
    text-align: center;
        width: 94%;
        height: 3.4em;
        margin: 2% 0 0 2%;
        border-radius: 3px;
        color:#05B1A1;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border:none
}
.menuItem:hover {
    color: white;
    background-color: #05B1A1;
}
.iconMenuItem{
    width:2em;
    margin : 0 2% 0 0;
}
.rightContainer {
    /* background-color:white; */
    float: right;
    width: 65%;
    height: auto;
    
}
.post{
    margin:0% 0 3% 0 ;
    width:100%;
    height: auto;
    background-color: white;
    padding: 2%;
}
.headerPost{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 3px;
}
.picPoster{
    /* margin: 0 0 0 3%; */
    width: 1.5em;
}
.namePoster{
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    color: #393939;
    margin: 2% 0 0 10%  ;
}
.tripleDot{
    margin: 0 0 0 60% ;
}
.caption{
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #393939;
    padding : 1% 0 1% 0 ;
}
.bgPost{
    width: 100%;
}
.emotPost{
    background-color:white;
    height: 2em;
    padding: 1em 0 3px 2%;
    display: flex;
    flex-direction: row;
}
.emotPostItem{
    width:1.5em;
    margin: 0 6% 0 0;
    display: flex;
    flex-direction: row;
}
.emotPostItemRight {
    width: 1.5em;
    margin: 0 0% 0 40%;
    display: flex;
    flex-direction: row;
}
.viewers{
    color: #A3A3A3;
    font-family: 'Poppins';
    font-weight: 500;
    margin: 0 0 0 5% ;
}
.inputComment{
    display: flex;
    height: 3em;
    width: 100%;
    background-color: white;
    flex-direction: row;
    /* position: absolute; */
    margin: 2% 0 0 0 ;
}
.miniProfile{
    width:2.4em;
}
.inputTextComment{
    width:40%;
    height: 2em;
    margin: 1% 0 0 2%;
    position: absolute;
    border: none;
}
.inputTextComment:hover{
    border: #A3A3A3;
}
.sendIcon{
    width: 2.4em;
    position: absolute;
    margin : 0 0 0 48%;
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.btnCreate{
    background-color: #05B1A1;
    width: 10%;
    position: absolute;
    margin: 25% 0 0 0 ;
    padding:1%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}
.emotCreate{
    width:2em;
    height: auto;
    margin: 0 5% 0 0 ;

}
.textCreate{
    color: white;
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 0.8em;
        margin: 6% 0 0 0;
}